.container
  .row
    col-md-8
    h1.page-header
      | School List

    ul
      li(ng-repeat="school in params['school_list']")
        h3
          a(href='#/school/{{school["id"]}}') {{school['name']}}
        h4
          | {{school['address']}}
        hr
  .row
    ur.pager
      li.previous
        a(ng-click="previous_page()") Previous
      li.next
        a(ng-click="next_page()") Next
