.container
  .row
    h2
      | {{params['school_info']['School_Name']}}

  .row
    table.table-striped.table
      tr(ng-repeat='row_val in params["cooked_program_info"]')
        td(ng-if='row_val.length == 4' rowspan='{{row_val[3]}}') {{row_val[2]}}
        td(ng-if='row_val.length == 3') {{row_val[2]}}

        td(ng-if='row_val[1]') 
          a(href='{{row_val[0]}}') {{row_val[0]}}
        td(ng-if='!row_val[1]') {{row_val[0]}}
