.container
  .row
    h2
      | {{params['school_info']['School_Name']}}

  .row
    table.table-striped.table
      tr(ng-repeat='attr in params["school_attrs"]')
        td {{params['school_attr_display'][attr]}}:
        td(ng-if="is_hyper_link(attr)") 
          a(href="{{params['school_detail'][attr]}}") {{params['school_detail'][attr]}}
        td(ng-if="!is_hyper_link(attr)") {{params['school_detail'][attr]}}

  .row
    ul
      li(ng-repeat='program in program_preview')
        h3
          a(href='#/program/{{params["school_id"]}}/{{program["id"]}}') {{program['name']}}
